

<div class="container">




	<div class="text-center" style="margin-top: 100px;">
	
	<h1><%=ENV["APP_NAME"]%></h1>
	
<% if @user.nil? %>
	<a href="/auth" class="btn btn-danger">Login</a>
<% else %>
			
		hello, <%=@user.name %>! <br/>
		your email is: <%=@user.email %>! <br/>
		<div class="text-right">
			<a href="<%=@community_url %>">Go to Community</a>
		</div>		
		
		<div class="text-center">
			<a href="/logout" class="btn btn-default">Logout</a>	
		</div>
		
<% end %>

</div>
	


</div>